html {
font-size: 16px
}

.centered-button-container{
    text-align: center;
}

/*  Tree */
.link {
    fill: none;
    stroke: #000;
}

.border {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #aaa;
}

.node {
    stroke: #fff;
}
/* End of Tree */